* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alata', sans-serif;
  background-color: lightblue;
}

.page-header {
  height: 700px;
  /*width: 90%;*/
  margin: 0 auto;
  background-color: lightgreen;
}

.header-nav-top {
  height: 80px;
  background-color: lightgrey;
  width: 100%;
  margin: 0 auto;
}

.header-nav-left a {
  text-decoration: none;
  margin-left: 80px;
  line-height: 80px;
  vertical-align: middle;
  font-size: 15px;
}

a:link {
  color: #33475B;
}

.header-nav-bottom {
  height: 80px;
  background-color: blue;
  width: 100%;
}

.end-header-banner {
  height: 80px;
  background-color: ORANGE;
  width: 90%;
  margin: 0 auto;
}

.header-nav-left {
  float: left;
}

.header-nav-left i{
  margin-right: 10px;
  margin-left: 4px;
  color: #33475B;
}

.header-nav-right {
  float: right;
}

.header-nav::after {
  content: '';
  display: table;
  clear: both;
}

.page-main {
  height: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: brown;
}

.blockone {
  width: 80%;
  background-color: grey;
  border: 2px solid black;
  padding: 30px;
  margin: auto;
}

.blocktwo {
  width: 80%;
  background-color: grey;
  border: 2px solid black;
  padding: 30px;
  margin: auto;
  margin-top: 40px;
}

.blockfloat {
  float: left;
}

.block-with-float::after {
  content: '';
  display: table;
  clear: both;
}

.blockleft {
  width: 20%;
  background-color: green;
  border: 2px solid black;
  padding: 4px;
  margin: 10%;
  margin-top: 40px;
}

.blockcenter {
  width: 20%;
  background-color: yellow;
  border: 2px solid black;
  padding: 4px;
  margin: 0;
  margin-top: 40px;
}

.blockright {
  width: 20%;
  background-color: orange;
  border: 2px solid black;
  padding: 4px;
  margin: 10%;
  margin-top: 40px;
}

.blockthree, .blockfour {
  background-color: blue;
  border: 2px solid black;
  padding: 30px;
  margin: auto;
}

.page-footer {
  height: 400px;
  width: 90%;
  margin: 0 auto;
  background-color: green;
}

.footer-ref {
  width: 80%;
  background-color: lightgreen;
  border: 2px solid black;
  padding: 30px;
  margin: auto;
}
